<div class="container">
  <div class="user-form">
<div class="fields">
  <!-- <form  #heroForm="ngForm" (ngSubmit)=" isUpdate ? submitUpdatedFrom(heroForm) :submitForm(heroForm)" > -->
  <form  #heroForm="ngForm" (ngSubmit)=" isUpdate ? submitUpdatedFrom(heroForm) :submitForm(heroForm)" >
    <div class="row">

      <div class="col-md-4 col-sm-12">
              <label class="form-label">Task Name</label>

          <input type="text"   placeholder="Task Name" class="form-control "  name="taskName"  [(ngModel)]="toDetails.taskName" required />
      </div>
        <div class="col-md-4 col-sm-12">
                  <label class="form-label">Description</label>
          <textarea   name="description" placeholder="Description" class="form-control "  [(ngModel)]="toDetails.description" required  ></textarea>
        </div>
        <div class="col-md-4 col-sm-12">
      <label class="form-label">Priority</label>
          <select class="form-select" name="priority"    [value]="toDetails.priority" [(ngModel)]="toDetails.priority" required   >
            <option selected value="high">High</option>
            <option value="medium" >Medium</option>
            <option value="low">Low</option>
          </select>
        </div>
      </div>
          
    <div  class="row">
       
        <div class="col-md-4 col-sm-12">
                <label class="form-label">Due Date</label>

            <input type="date"  placeholder="Due Date" class="form-control " name="dueDate"  [(ngModel)]="toDetails.dueDate" required  />
        
      </div>
         <div class="col-md-4 col-sm-12">
                <label class="form-label">Status</label>
 <select class="form-select"   [value]="toDetails.status"  name="status" [(ngModel)]="toDetails.status" required  >
            <option value="active">Active</option>
            <!-- <option>Pending</option> -->
            <option value="completed">Completed</option>
          </select>
                
              </div>
              <!-- <div class="col-md-4 col-sm-12">
                <label class="form-label">File</label>
                <input type="file"  placeholder="Upload file" class="form-control " name="file"   />
               
        </div> -->

    </div>
      <div class="row justify-content-center">

        <button class="register-button mt-2"  [disabled]="heroForm.invalid" type="submit" >Submit</button>
   
      </div>
 </form>
  </div>


  </div>
  <div  class="user-container d-flex ">
  <div class="user-display-card d-flex flex-column" *ngFor="let todo of toDoList;  let i = index">
    <div class="loop-card d-flex flex-column align-items-end ">
        <div  class="card-header-item">
        <h4 class="userNameTag"  [ngClass]="todo.priority==='high'  ? 'high'   : todo.priority==='medium' ? 'medium' : 'low' ">{{todo.taskName.length>27 ? todo.taskName.slice(0,25) + "...": todo.taskName}}</h4>
        <div class="control-icons">
          <img src="../assets/completed.png"  (click)="markAdCompleted(todo)" class="img-icon" />
          <img src="../assets/edit.png"  class="img-icon"  (click)="edit(todo)" />
          <img src="../assets/delete.png"  class="img-icon" (click)="deleteTODO(todo)"  />
          <!-- <img src="../assets/moreInfo.png"  class="img-icon"  (click)="moreInfo(i)" /> -->
        </div>
          
      </div>
    <div class=" card-content-one  ">
      <p style="text-align: justify;">{{todo.description .length>85 ? todo.description .slice(0,85)+"...": todo.description }}</p>
    </div>
  
<span  [ngClass]="todo.status==='active' ? 'active' : 'completed'">&#9830;</span>
    <div class="full-text">

        <!-- <div class="d-flex card-content-two">
        <p >{{user.address}} <br/>
         </p>
          
      <p>{{user.phoneNumber}}</p>
      </div> -->
    </div>


</div>
  </div>
</div>
</div>